
.header{
    display: flex;
    width: 100%;
    background: white;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 1rem;
}
.imagen_logo_inicio{
    width: 7.5%;
    width: 10rem;
    padding-right: 3.3rem;
}

.pestañas_inicio{
    display: flex;
    gap: 2rem;
    font-family: Arial;
    font-size: 0.6rem;
    color: #37323E;
}

.boton_inicio1\.1{
    text-decoration: none;
    color: #37323E;
    &:hover {
        cursor: pointer;
        color: #DEB841;
        transition: 0.2s;
    }
}

.boton_inicio2{
    &:hover {
        cursor: pointer;
        color: #DEB841;
        transition: 0.2s;
    }
}

.main{
    width: 100%;
}

.imagen_grande_inicio{
    width: 100%;
}

.titulo_inicio{
    font-family: "Roboto Light", sans-serif;
    font-size: 4.5rem;
    color: #DEB841;
    margin: 0.5rem;
}

.secciones{
    font-family: "Roboto Light", sans-serif;
    font-size: 1.1rem;
    color: #37323E;
    margin-left: 2rem;
    max-width: 50%;
    text-align: justify;
    margin-top: 3.5rem ;
    margin-bottom: 3.5rem ;
}

.imagenes_pequeñas_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 2rem 1rem;
}


.imagen_general {
    width: 27rem;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 1rem;
    box-sizing: border-box; /* Esto hace que la imagen se quede donde esta */

}

.imagen_general:hover {
    transform: scale(1.1);
    border: #DEB841 solid 0.2rem
}

.linea_horzontal_inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea_horzontal_inicio\.1{
    width: 25rem;
}

.imagen_grande_carnaval{
    width: 40rem;
    display: flex;
    justify-content: center;
}